<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <h1 class="navbar-brand mb-0">Unicorn 🦄</h1>

    <div class="btn-group">
        <div ngbDropdown class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>Bootstrap</button>
            <div ngbDropdownMenu>
                <a target="_blank" href="https://ng-bootstrap.github.io/#/components/accordion/examples" class="dropdown-item">Components</a>
                <a target="_blank" href="http://getbootstrap.com/docs/" class="dropdown-item">Documentation</a>
            </div>
        </div>
    </div>

</nav>
